$color-1: #56A3A6; // Nav blue
$color-2: #1E352F; // dark blue
$color-4: #ffffff; // white
$color-5: #335145; // Font grey

body {
    margin: 0;
}

a {
    text-decoration: underline;
    color: $color-2;
}

h1, h2, h3, h4 {
    color: $color-2;
}

a:hover {
    color: $color-1;
}

p {
    color: $color-5;
}

.wrap {
    min-height: 100vh;
    margin: 0;
}



//making grid
//1 column grid

.col-1 {
    display: grid;
    grid-template-columns: auto;
}

//3 clumn grid

.col-3 {
    display: grid;
    grid-template-columns: 0fr 3fr 0fr;
    padding: 10px;
}

//Navbar elements
.navBar, .footerBar {
    margin-top: 0;
    background-color: $color-1;
    padding: 10px;

    a {
        text-decoration: none;
        color: $color-4;
        border: $color-4 solid 1px;
        border-radius: 5px;
        padding: 5px;
    }

    a:hover {
        background-color: $color-4;
        color: $color-1;
    }
}

//Body elements
//mainBody

//First section
.sec-1 {
    h1 {
        margin-bottom: 0px;
        margin-top: 5px;
    }

    h1#link:hover {
        color: $color-1;
    }

    h5 {
        margin-top: 3px;
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 0px;
        margin-top: 5px;
    }

    li {
        color: $color-5;
    }
}


//Footer

.footerBar {
    p {
        color: $color-4;
        margin: 0;
    }

    margin-bottom: 0;

    a {
        display: inline-block;
        margin-left: 5px;
    }
}


//Week 1 pers

.storyTools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.part-2 button {
    color: $color-4;
    background-color: $color-1;
    border-radius: 5px;
}

.part-2 button:hover {
    color: $color-1;
    background-color: $color-4;
}

#story_editor {
    width: 100%;
    height: 100px;
}

//Large screen
@media only screen and (min-width: 600px) {
    .col-3 {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        padding: 10px;
    }
}
